[Unit]
Description=Start WebODM OpenDroneMap Service Container
Requires=docker.service
After=docker.service

[Service]
Type=forking
User=odm
Group=odm
WorkingDirectory=/data/data1/PICTO-Bosques/WebODM
ExecStart=/bin/bash -c '/data/data1/PICTO-Bosques/WebODM/webodm.sh start --port 80 --media-dir /data/data1/PICTO-Bosques/ODMMedia/'
ExecStop=/bin/bash -c '/data/data1/PICTO-Bosques/WebODM/webodm.sh stop'
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
